<div class="max-w-5xl mx-auto my-10 h-[calc(100dvh-20dvh)] p-4">
  <div class="flex">
    <div class="text-2xl font-semibold mr-auto">Moje Reality</div>
    @if (isUserOwner) {
    <button
      class="btn-primary"
      (click)="createReality()">
      Přidat
    </button>
    }
  </div>
  <div class="text-gray-600 mb-2">Seznam všech realit, které spravujete.</div>
  <div class="flex flex-col">
    <reality-list
      (onRealityChange)="onRealityChange()"
      [config]="config"
      [realityList]="realityList$ | async"
      [loading$]="loading$"></reality-list>
    @if ((realityList$ | async)?.length) {
    <custom-pagination
      [pagination]="pagination"
      (onPageChange)="onPageChange($event)"></custom-pagination>
    }
  </div>
</div>
