<div
  class="container max-w-5xl m-auto my-4 p-5 border border-gray-300 rounded-lg"
>
  <div class="flex justify-between items-center mb-4">
    <h1 class="text-3xl font-bold capitalize">
      <custom-dropdown
        [label]="query"
        [items]="dropDownItems"
        (onItemSelected)="onItemSelected($event)"
      ></custom-dropdown>
    </h1>

    <div>
      @for (type of activeType; track $index) {
      <button
        (click)="onTypeClick(type)"
        [ngClass]="{ 'bg-red-500 !text-white ': type.active }"
        class="text-gray-700 px-3 py-1 rounded-full font-bold"
      >
        {{ type.name }}
      </button>
      }
    </div>
  </div>
  @for (item of activeFilters; track $index) {
  <h2 class="font-semibold text-lg capitalize mb-1">{{ item.type }}</h2>
  <div class="grid grid-flow-col grid-rows-4 mb-1">
    @for (item of item.filters; track $index) {
    <custom-checkbox
      (onChangeCheckBox)="onCheckboxChange($event)"
      [item]="item"
    ></custom-checkbox>
    }
  </div>
  }

  <div class="flex justify-end">
    <button
      (click)="search()"
      class="bg-red-600 text-white px-6 py-2 rounded-md font-bold"
    >
      Zobrazit 18 720 inzerátů
    </button>
  </div>
</div>
