<div class="overflow-scroll header-height-diff max-w-5xl m-auto my-4 p-5 border border-gray-300 rounded-lg">
  <div class="flex justify-between items-center mb-4">
    <h1 class="text-3xl font-bold capitalize">
      <custom-dropdown
        [label]="query"
        [items]="dropDownItems"
        (onItemSelected)="onItemSelected($event)"></custom-dropdown>
    </h1>

    <div>
      @for (type of transactionType; track $index) {
      <button
        (click)="onTransactionTypeClick(type)"
        [disabled]="type.active"
        [ngClass]="{
          'bg-red-500 !text-white opacity-100 cursor-pointer': type.active
        }"
        class="text-gray-700 px-3 py-1 rounded-full font-bold">
        {{ type.name }}
      </button>
      }
    </div>
  </div>
  @for (filter of activeFilters; track $index) { @if (!filter.hidden) {

  <h2 class="font-semibold text-lg capitalize mb-1">{{ filter.name }}</h2>
  <div class="grid grid-cols-3 md:grid-cols-4">
    @switch (filter.inputType) { @case ('checkbox') { @for (item of filter.filters; track $index) {
    <custom-checkbox
      (onChangeCheckBox)="onCheckboxChange($event)"
      [option]="item"></custom-checkbox>
    } } @case ('range') { @for (item of filter.filters; track $index) {
    <input
      type="number"
      placeholder="{{ item.name }}"
      [(ngModel)]="item.value"
      class="border border-gray-300 rounded-md p-2 m-2 focus:outline-none focus:ring focus:ring-red-500" />

    } } @case ('dropdown') {
    <select
      class="border border-gray-300 rounded-md bg-white p-2 m-2 focus:outline-none focus:ring focus:ring-red-500"
      [(ngModel)]="filter.filters[0].value">
      <option
        *ngFor="let item of filter.filters[0].options"
        [value]="item.value">
        {{ item.name }}
      </option>
    </select>
    } @case ('input') {

    <input
      type="text"
      placeholder="{{ filter.filters[0].name }}"
      [(ngModel)]="filter.filters[0].value"
      class="border border-gray-300 rounded-md p-2 m-2 focus:outline-none focus:ring focus:ring-red-500" />
    }}
  </div>
  } }

  <div class="flex justify-end">
    <button
      (click)="search()"
      class="bg-red-500 text-white px-4 py-2 rounded-md font-bold">
      Zobrazit {{ searchCount }} inzerátů
    </button>
  </div>
</div>
